body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-style: italic;
}

.capital-letter {
    text-transform: uppercase;
}

.thick-position {
    font-weight: 900;
}

span {
    font-weight: normal;
}

a {
    font-weight: normal;
    color: #00f;
    text-decoration: underline;
}

a:visited {
    color: #005;
    text-decoration: underline;
}

a:hover {
    color: orange;
    text-decoration: none;
}

ul {
    list-style-type: square;
}